
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="navitem">
      <a class="nav-link" routerLink="all">Home</a>
    </li>
    <li class="navitem">
      <a class="nav-link" routerLink="all">About</a>
    </li>
    <li class="navitem">
      <a class="nav-link" routerLink="all">Appliances</a>
    </li>
    <li class="navitem">
      <a class="nav-link" routerLink="create-appliance">Create Appliance</a>
    </li>
  </ul>
</nav>

<h1 class="text-center">{{title}}</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>


<footer class="footer" style="background-color: #0d6efd; bottom: 0; position: relative;">
  <div class="container">
    <span>All rights Reserved</span>
  </div>
</footer>